/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
  height: 100%;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0;
  margin: 0;

}

.container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

/* NAVBAR */
nav{
  position: absolute;
  z-index: 5;

  display:grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: aliceblue;
  font-family: sans-serif;
  position:fixed;
  top:0;
  width:100%;
}

nav .logo{
  display:grid;
  grid-template-columns: repeat(4,auto);
}

.logo img {
  height: 5rem;
  min-width: min(50%, 800px);
}

nav .barnav{
  display:grid;
  grid-template-columns: repeat(5,auto);
  margin-right: 30px;
}

nav .barnav div{
  display: inline;
}
nav .barnav div a {
  padding: 10px 20px;
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 2;
  color: #272727;
  cursor: pointer;
  border-radius: 5px;
}
nav .barnav div:hover, nav .barnav div a:hover{
  cursor: pointer;
  border-radius: 5px;
  background:#B37F87;
  color: #fff;
  /* background:#C8E8E9; */
  /* background:#769A9C; */
  /* background:#CDDC39; */
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: inherit;
  background: #EEE;
  color: aliceblue;
  text-align: center;
  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer h1 {
  margin: auto;
  color: white;
  padding: 15px 0;
}

/* WTTP CSS */
.wa-container {
  right:0;
  bottom:0;
  position:fixed;
  margin-right:30px;
  margin-bottom:30px;
}
.wa-link {
  /* display: flex;
  flex-direction: column; */
  font-size: 70px;
  text-decoration: none;
  color: #25D366;
}

/* Configuración añadida */
.container-cart {
    margin-top: 5rem;
}

.table-cart {
    text-align: center;
    margin: auto;
}

.th-table-cart {
  padding-right: 1rem;
  background-color: #B37F87;
  text-align: center;
}

.t-table-cart {
    padding-right: 1rem;
}

.t-table-cart.qnt-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-minus, .btn-plus {
  cursor: pointer;
}

.t-table-cart-img {
    text-align: center;
}

.t-table-cart-x {
    text-align: center;
  cursor: pointer;
}

.img-cart {
    border-radius: 50%;
  width: 25%;
  height: 25%
}

.input-quantity-cart {
    padding: 0.5rem;
  border-radius: 5px;
}

.container-cart-button {
  margin-top: 2rem;
  width: 90%;
  text-align: right;
}

.button-cart {
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  border-radius: 5px;
  background:#B37F87;
  color: #fff;
}